$base-blue:  #4073B5;
$blue-0:     lighten($base-blue, 49%); /* #F4F7FB */
$blue-20:    lighten($base-blue, 44%); /* #E1E9F4 */
$blue-40:    lighten($base-blue, 12%); /* #6893CA */
$blue-60:    lighten($base-blue, 8%);  /* #5988C4 */
$blue-80:    $base-blue;
$blue-100:   darken($base-blue, 9%);   /* #345D93 */
$blue-120:   darken($base-blue, 16%);  /* #2B4D79 */
$blue-140:   darken($base-blue, 24%);  /* #203A5B */

$base-grey:       #939393;
$grey-light-20:   lighten($base-grey, 40%); /* #FAFAFA */
$grey-light-40:   lighten($base-grey, 37%); /* #F2F2F2 */
$grey-light-60:   lighten($base-grey, 30%); /* #E0E0E0 */
$grey-light-80:   lighten($base-grey, 21%); /* #CACACA */
$grey-light-100:  lighten($base-grey, 14%); /* #B8B8B8 */
$grey-dark-20:    $base-grey;
$grey-dark-40:    darken($base-grey, 22%); /* #5D5D5D */
$grey-dark-60:    darken($base-grey, 27%); /* #4E4E4E */
$grey-dark-80:    darken($base-grey, 34%); /* #3D3D3D */
$grey-dark-100:   darken($base-grey, 38%); /* #323232 */
$grey-dark-120:   darken($base-grey, 42%); /* #292929 */

$green: #4DCBA9;
$red:    #D85177;
$orange:    #E89045;
$caution:   #F8B950;
$purple:    #BE74CB;
