.icon {
	bottom: 0.0625em;
	display: inline-block;
	height: 1em;
	position: relative;
	vertical-align: middle;
	width: auto;
}

.icon.green {
	fill: $green;
}

.icon.yellow {
	fill: $yellow;
}

.icon.red {
	fill: $red;
}

.icon.blue {
	fill: $blue;
}
