.red {
	color: $red;
}

.green {
	color: $green;
}

.orange {
	color: $orange;
}

.grey {
	color: $grey-dark-20;
}

.bold {
	font-weight: bold;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
	height: 0;
	visibility: hidden;
}

.img-circle {
	border-radius: 100%;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.mb0 {
	margin-bottom: 0;
}

.mt100 {
	margin-top: 100px;
}

.mr5 {
	margin-right: 5px;
}

.pill {
	padding: 3px 15px;
	background: $grey-light-40;
	border-radius: 20px;
	color: white;

	&.green {
		background: $green;
	}
	&.red {
		background: $red;
	}
	&.grey {
		background: $grey-dark-20;
	}
}
