@import 'global';
@import 'body';
@import 'node_modules/gridlex/src/gridlex';
@import 'components/pull-card';
@import 'components/merged-pull-card';
@import 'ember-power-select';

a {
	text-decoration: none;
}

.loader {
	background: #fafafa url(../images/loader.svg) no-repeat center center;
	height: 70px;
}

.totals {
	font-size: .7em;
	color: #999;
	text-transform: uppercase;
	position: fixed;
	left: 50%;
	top: 0;
	width: 150px;
	padding: 10px 0;
	background-color: $grey-light-40;
	margin-bottom: 5px;
	text-align: center;
	transform: translateX(-50%);
}

.section-header {

	clear: both;
	padding: 10px 0;
	margin-bottom: .5em;

	.section-title {
		color: #666;
		font-size: 1.5em;
		float: left;
		margin-bottom: 0;
	}

}

.reload-btn {
	width: 100%;
	cursor: pointer;
	display: inline-block;
	transition: all 0.3s;
	border: 1px solid $blue-80;
	border-radius: 5px;
	background-color: $blue-60;
	line-height: 1em;
	padding: 10px 30px;
	color: white;
	text-align: center;
	font-weight: bold;

	&:hover, &:active {
		background-color: $blue-100;
	}
}
