@import 'global';
@import 'body';
@import 'node_modules/gridlex/src/gridlex';
@import 'components/pull-card';
@import 'ember-power-select';

a {
	text-decoration: none;
}

.mainnav {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid rgba(0,0,0,.0975);
	display: none;
}

.loader {
	background: #fafafa url(../images/loader.svg) no-repeat center center;
	height: 70px;
}

.totals {
	font-size: .7em;
	color: #999;
	text-transform: uppercase;
	position: fixed;
	left: 50%;
	top: 0;
	padding: 10px 15px;
	transform: translateX(-50%);
	border: 0 1px 1px 1px solid $grey-light-100;
	background-color: $grey-light-40;
}

.pulls {
	padding-top: 20px;
	margin: 0 auto;
	max-width: 800px;
	position: relative;
}

.ember-power-select-trigger {
	cursor: pointer;
}

#back-to-top {
	position: fixed;
	bottom: 20px;
	z-index: 9999;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	background: $orange;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	margin-left: 730px;

	&:hover {
		background: darken($orange, 5%);
	}

	.icon {
		fill: darken($orange, 25%);
		height: 100%;
	}
}
#back-to-top.show {
	opacity: 1;
}
