.components_merged-pull-card {
	margin-bottom: 5px;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	background-color: white;
	font-size: .8em;
	padding: 5px;
	color: #757575;
	overflow: hidden;

	a, a:visited {
		color: #757575;
	}
	a:hover {
		color: #424242;
	}

	.avatar {

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			border: 1px solid rgba(0,0,0,.0975);
			border-radius: 50%;
			max-height: 34px;
			max-width: 34px;
		}
	}

	.details {
		padding-left: 10px;
	}

	.tags, .merged-at {
		font-size: .8em;
	}

	.merged-at {
		text-align: right;
	}

	.title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: bold;
		line-height: 1.1em;
	}
}
