.components_pull-card {
	margin-bottom: 5px;
	position: relative;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	font-size: 14px;
	line-height: 18px;
}

.components_pull-card_header {
	padding: 16px 16px 16px 21px;
	color: #757575;
	border-bottom: 1px solid #efefef;

	a, a:visited {
		color: #757575;
	}
	a:hover {
		color: #424242;
	}

	.avatar {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;

		img {
			display: block;
			width: 40px;
			height: 40px;
			border: 1px solid rgba(0,0,0,.0975);
			border-radius: 50%;
		}
	}

	.createdAt {
		color: #999;
		font-size: 11px;
		text-transform: uppercase;
		text-align: right;
	}


	.title {
		margin-bottom: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 1.4em;
		font-weight: bold;
		line-height: 1.222em;
	}
}

.components_pull-card_body {
	padding: 16px 16px 16px 21px;
	color: #212121;
	border-bottom: 1px solid #efefef;

	a, a:visited {
		color: #757575;
	}
	a:hover {
		color: #424242;
	}

	h3 {
		font-size: 1.2em;
		color: #424242;
		margin-bottom: 0.5rem;
	}

	ul {
		margin-top: 0;
	}

	p {
		margin-bottom: 0.5rem;

		& + p {
			text-indent: 0;
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.components_pull-card__footer {
	padding: 0 16px 0 21px;

	.comments {
		margin-bottom: 4px;
		padding-top: 5px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding-bottom: 6px;
				position: relative;
				word-wrap: break-word;

				&:last-child {
					padding-bottom: 0;
				}
			}

			.view-more {
				color: #777;
				cursor: pointer;
			}
		}
	}

	.updatedAt {
		margin-bottom: 4px;
		color: #999;
		font-size: 11px;
		text-transform: uppercase;
	}
}

.components_pull-card__add-comment {
	padding: 16px 26px 16px 0;
	margin-top: 4px;
	min-height: 56px;
	justify-content: center;
	position: relative;
	border-top: 1px solid #efefef;
	color: #999;

	textarea {
		border: none;
		color: #262626;
		max-height: 80px;
		outline: none;
		padding: 0;
		resize: none;
		font-size: inherit;
		width: 100%;
	}
}

.components_pull-card_pull-comment {
	.author {
		font-weight: 700;
		color: #262626;
	}

	a, a:visited {
		color: #003569;
		text-decoration: none;
	}
}

.components_pull-card__status-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;

	&.red {
		background-color: #f44336;
	}
	&.green {
		background-color: #4caf50;
	}
	&.yellow {
		background-color: #ffeb3b;
	}
	&.grey {
		background-color: #777;
	}
}
