module.exports = {
	GITHUB_ACCESS_TOKEN: 'Your GitHub API token here',
	ORGANIZATION: 'kidon-org',
	WHITELISTED_REPOS: [
		'gitcli', 'github-dashboard', 'jira-comeon'
	],
	DEFAULT_REPO_FILTERS: [
		'gitcli', 'github-dashboard'
	],
	DEFAULT_USER_FILTERS: [
		'kidonchu', 'kvann'
	],
	TEAM_FILTERS: [
		'Dev'
	],
	USER_FILTERS: [
		'kidonchu'
	],
	USERS_IN_TEAMS: {
		Dev: ['kidonchu'],
	}
};
